div{
    width: 100px;
    height: 100px;
    margin: 100px;
    background-color: palevioletred;
    border: 1px solid black;
    color: white;
    /*transform: translate(100px, 30px);*/
    /*transform: rotate(90deg);*/
    transform: skew(20deg,30deg);
}